# Frontend URLs
OLD_NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# Keycloak OIDC
KEYCLOAK_CLIENT_ID=heritageGraph
KEYCLOAK_CLIENT_SECRET=4TgNdFCOeyIy9F3EK2LuYc8DhhlGoDtW
OLD_KEYCLOAK_ISSUER=http://localhost:8080/realms/heritageRealm
KEYCLOAK_ISSUER=http://localhost:8080/realms/heritageRealm

# NextAuth secret
NEXTAUTH_SECRET=dbqCEDYSEh/PxOmGzwooAWDYZImvnDF+TTvOEU7QW1I=
